<config>
    <fields>
        <mini_batch_size>
            <value>300</value>
        </mini_batch_size>
        <mf_dim>
            <value>10</value>
        </mf_dim>
        <learning_rate>
            <value>0.05</value>
        </learning_rate>
        <initial_g2sum>
            <value>10</value>
        </initial_g2sum>
        <initial_range>
            <value>0.0001</value>
        </initial_range>
        <decay_rate>
            <value>1</value>
        </decay_rate>
        <min_bound>
            <value>-10.0</value>
        </min_bound>
        <max_bound>
            <value>10.0</value>
        </max_bound>
        <ignored_feature_slots>
            <value>2,3,7,17,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80</value>
        </ignored_feature_slots>
        <is_update_redis>
            <value>0</value>
        </is_update_redis>
        <redis_host>
            <value></value>
        </redis_host>
        <redis_port>
            <value></value>
        </redis_port>
        <redis_db>
            <value></value>
        </redis_db>
        <redis_password>
            <value></value>
        </redis_password>
        <model_coalesce_num>
            <value>16</value>
        </model_coalesce_num>
        <redis_host_client>
            <value></value>
        </redis_host_client>
        <redis_port_client>
            <value></value>
        </redis_port_client>
        <redis_db_client>
            <value>0</value>
        </redis_db_client>
        <redis_password_client>
            <value></value>
        </redis_password_client>
        <redis_notice_client_key>
            <value></value>
        </redis_notice_client_key>
    </fields>
</config>
